__pycache__/
images
models/models.zip
models/relu1_1
models/relu2_1
models/relu3_1
models/relu4_1
models/relu5_1
models/vgg_normalised.t7
outputs/cms_black_hole(0.2).png
outputs/IST_van_gogh(0).png
outputs/black_hole_scream(0.6).png
outputs/cms_FranzMarc(0.6).png
outputs/cms_black_hole(0.4).png
outputs/cms_black_hole(0.6).png
outputs/cms_kandinsky(0.6).png
outputs/cms_picasso(0).png
outputs/cms_picasso(0.2).png
outputs/cms_picasso(0.4).png
outputs/cms_picasso(0.6).png
outputs/cms_picasso(0.8).png
outputs/cms_picasso(1).png
outputs/cms_scream.png
outputs/foto2_van_gogh.png
outputs/foto_anime.png
outputs/foto_anime2.png
outputs/foto_anime2(0.9).png
outputs/foto_van_gogh.png
outputs/ist_kandinsky(0).png
outputs/ist_kandinsky(0.2).png
outputs/ist_kandinsky(0.5).png
outputs/ist_kandinsky(0.8).png
outputs/ist_picasso(0.2).png
outputs/ist_picasso(0.5).png
outputs/ist_picasso(0.8).png
outputs/ist_van_gogh(0.2).png
outputs/ist_van_gogh(0.4).png
outputs/ist_van_gogh(0.5).png
outputs/ist_van_gogh(0.6).png
outputs/ist_van_gogh(0.8).png
outputs/ist_van_gogh(0.8) (2).png
outputs/ist_van_gogh(1).png
outputs/lisboa2_Dali(0.6).png
outputs/lisboa2_FranzMarc(0).png
outputs/lisboa2_FranzMarc(0.2).png
outputs/lisboa2_FranzMarc(0.4).png
outputs/lisboa2_FranzMarc(0.6).png
outputs/lisboa2_FranzMarc(0.8).png
outputs/lisboa2_FranzMarc(1).png
outputs/lisboa3_FranzMarc(0.6).png
outputs/lisboa3_FranzMarc(0.8).png
outputs/lisboa3_van_gogh(0.6).png
outputs/lisboa_picasso(0).png
outputs/lisboa_picasso(0.6).png
outputs/lisboa_picasso(1).png
outputs/lisboa_van_gogh(0.6).png
outputs/tiger_van_gogh.png
samples/gilbert.jpg
samples/gilbert_stylize.png
samples/sullivan_style_swap.png
van_gogh.png
tiger.png
pic2.ppm
pic1.ppm
pic3.ppm
testelel123.py
